.home__lists {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 10px;
  border: 1px solid lightgray;
}
.home__lists__nav {
  display: flex;
  padding: 10px 0;
  border-bottom: 3px solid lightgray;
}
.home__lists__nav h1 {
  border-radius: 3px;
  border: 1px solid lightgray;
  font-size: 13px;
  color: black;
  font-weight: 400;
  width: 70px;
  text-align: center;
  margin-left: 5px;
  padding: 5px 0 !important;
  cursor: pointer;
}

.home__lists__nav > h1:first-child {
  background-color: #2d6ab1 !important;
  color: white;
}
.home__lists__nav > h1:hover {
  background-color: #f1f1f1;
}
