.home {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}
.home::-webkit-scrollbar {
  display: none;
}
.home__main {
  padding: 20px !important;
  flex: 1;
}
