.home__header {
  position: sticky;
  color: white !important;
  top: 0;
  display: flex;
  justify-content: space-between;
  padding: 5px 50px;
  background: black;
  z-index: 100;
}
.home__header__left {
  display: flex;
  color: white;
  align-items: center;
}
.home__header__left > img {
  width: 100px;
  margin-right: 10px;
}
.home__header__left h2 {
  cursor: pointer;
  margin: 0px 10px;
  font-weight: 400;
  cursor: pointer;
  line-height: 17px;
  font-size: 14px;
  width: fit-content;
  white-space: nowrap !important;
}
.home__header__left h2:first-of-type {
  color: white !important;
  font-weight: 500;
}
.home__header__right {
  display: flex;
  align-items: center;
}
.home__header__right > div {
  display: flex;
  align-items: center;
  margin: 0px 10px;
}
.home__header__right > div > img {
  width: 30px;
  height: 30px;
  cursor: pointer;
  border-radius: 2px;
}
.home__header__right__icon__small {
  margin-left: 3px;
  cursor: pointer;
  font-size: 25px;
}
.home__header__right__icon {
  cursor: pointer;
  font-size: 30px !important;
  margin: 0px 20px;
}
.home__header__right__icon:last-of-type {
  margin: 0 10px;
}
.home__header__right__icon__settings {
  margin: 0px;
  font-size: 25px !important;
}
.home__header__right > h2 {
  text-transform: uppercase;
  margin: 0px 10px;
  cursor: pointer;
  font-weight: 400;
  font-size: 15px;
  line-height: 17px;
}
.home__header__right__search__icon {
  font-weight: bold;
  cursor: pointer;
  font-size: 30px !important;
}
.home__header__right__search {
  display: flex;
  background: rgba(0, 0, 0, 0.6);
  padding: 5px;
  width: 250px;
  align-items: center;
  border: 1px solid white;
}
.home__header__right__search input {
  color: white;
  background: transparent;
  outline: none;
  border: none;
  flex: 1;
  padding: 0px 5px;
  font-weight: 400;
  font-size: 16px;
}
.home__header__right__search > .home__header__right__search__icon {
  font-size: 20px !important;
}

@media only screen and (max-width: 600px) {
  .home__header__left h2 {
    display: none;
  }
  .home__header {
    padding: 10px;
  }
  .home__header__left > img {
    width: 50px;
    margin-right: 0px;
  }
  .home__header__right__search {
    padding: 3px;
    margin: 0px 3px;
    width: 200px;
  }
  .home__header__right__search input {
    font-size: 13px;
    padding: 2px 5px;
  }
  .home__header__right__search__icon > .home__header__right__search__icon {
    font-size: 14px;
  }
  .home__header__right > div > img {
    width: 20px;
    height: 20px;
  }
  .home__header__right > h2 {
    font-size: 14px;
    margin: 0px 3px;
  }
  .home__header__right__icon__settings {
    font-size: 20px !important;
    margin: 0px 3px !important;
  }
  .home__header__right > div {
    margin: 0px 3px;
  }
  .home__header__right__icon {
    font-size: 25px !important;
  }
}
@media only screen and (max-width: 1200px) {
  .home__header__left h2 {
    display: none;
  }
  .home__header {
    padding: 10px;
  }
  .home__header__left > img {
    width: 50px;
    margin-right: 0px;
  }
  .home__header__right__search {
    padding: 3px;
    margin: 0px 3px;
  }
  .home__header__right__search input {
    font-size: 13px;
    padding: 2px 5px;
  }
  .home__header__right__search__icon > .home__header__right__search__icon {
    font-size: 14px;
  }
  .home__header__right > div > img {
    width: 20px;
    height: 20px;
  }
  .home__header__right > h2 {
    font-size: 14px;
    margin: 0px 3px;
  }
  .home__header__right__icon__settings {
    font-size: 20px !important;
    margin: 0px 3px !important;
  }
  .home__header__right > div {
    margin: 0px 3px;
  }
  .home__header__right__icon {
    font-size: 25px !important;
  }
}
