.footer {
  position: sticky;
  bottom: 0;
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: center;
  background-color: white;
  user-zoom: none;
  user-select: none;
  align-items: center;
}
.footer > p {
  font-size: 0.65rem;
  color: gray;
}

.footer > p > span {
  color: var(--color-a);
}
