.sidebar__item {
  display: flex;
  padding: 10px 10px 10px 30px;
  align-items: center;
  cursor: pointer;
}
.sidebar__item__subscription {
  display: flex;
  padding: 5px 5px 5px 30px;
  align-items: center;
  cursor: pointer;
}
.sidebar__item__active {
  background: #d9d9d9;
  display: flex;
  padding: 10px 10px 10px 30px;
  align-items: center;
  cursor: pointer;
}
.sidebar__item__active > .sidebar__icon {
  color: red !important;
}
.sidebar__item > p,
.sidebar__item__active > p,
.sidebar__item__subscription > p {
  font-weight: 500;
  font-size: 14px !important;
  margin-left: 5px;
  color: #606060;
}
.sidebar__icon {
  font-size: 23px;
  color: #606060;
}

.sidebar__item:hover,
.sidebar__item__subscription:hover {
  background: #f9f9f9;
}
.sidebar__avatar {
  width: 25px !important;
  height: 25px !important;
}

@media only screen and (max-width: 1200px) {
  .sidebar__item,
  .sidebar__item__active {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
  }
  .sidebar__item > p,
  .sidebar__item__active > p,
  .sidebar__item__subscription > p {
    font-weight: 400;
    font-size: 10px !important;
    color: #606060;
    margin: 0 !important;
    padding: 0 !important;
  }
  .sidebar__item__subscription {
    display: none;
  }
  .sidebar__item {
    display: none;
  }
  .sidebar__item:nth-of-type(1),
  .sidebar__item:nth-of-type(2),
  .sidebar__item:nth-of-type(3),
  .sidebar__item:nth-of-type(4),
  .sidebar__item:nth-of-type(5),
  .sidebar__item:nth-of-type(6),
  .sidebar__item:nth-of-type(7) {
    display: flex;
  }
}
