.search__result {
  display: flex;
  align-items: flex-start !important;
  cursor: pointer;
  margin: 10px;
  user-select: none;
  cursor: pointer;
  width: 500px;
}
.search__result > img {
  height: 200px !important;
  -webkit-user-drag: none;
  object-fit: contain;
}
.search__result__details {
  margin-left: 10px;
  flex: 1;
}
.search__result__details > h1 {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 10px;
  /* width: 100%;
  overflow: hidden;
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 600px; */
}
.search__result__details > p:first-of-type {
  color: #606060;
  font-size: 14px;
  margin: 10px 0;
}
.search__result__details > p:first-of-type > span {
  margin: 5px;
}
.search__result__details > p {
  color: #606060;
  font-size: 13px;
  white-space: nowrap;
}
.search__result__details > p:last-child {
  background: #d9d9d9;
  border-radius: 999px;
  padding: 3px 10px;
  width: fit-content;
  font-size: 12px;
  cursor: pointer;
  margin: 20px 0;
}
.search__result__details > div {
  display: flex;
}
