.home {
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
}
.home::-webkit-scrollbar {
  display: none;
}
.home__main {
  display: flex !important;
  flex-wrap: wrap;
  padding: 5px 30px;
  align-items: flex-start;
}

@media only screen and (max-width: 1000px) {
  .home__main {
    padding: 5px;
  }
}
