.login__card__footer {
  border-top: 2px solid lightgrey;
  background: black;
  color: #303030;
  font-weight: 400;
  padding: 40px 20px 30px 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  user-select: none;
}
.login__card__footer__main {
  max-width: 900px;
}

.login__card__footer__container {
  display: flex;
  flex-wrap: wrap;
  margin: 20px 10px 20px 0px;
  justify-content: space-between;
}
.login__card__footer__container a {
  white-space: nowrap;
  width: 150px;
  margin: 5px 0px;
  display: flex;
  justify-content: flex-start;
  cursor: pointer;
  user-select: none;
  color: #757575 !important;
  font-weight: 400;
  font-style: normal;
  font-size: 13px;
}
.login__card__footer__container a:hover {
  text-decoration: underline #757575 !important;
}

.login__card__footer h4 {
  color: #757575 !important;
  font-size: 16px;
  display: flex;
  flex: 1;
  width: 100%;
}
