.main__nav__item {
  width: 250px;
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 15px 10px;
}
.main__nav__item div {
  display: flex;
  flex-direction: column;
}
.main__nav__item p {
  font-size: 12px;
  line-height: 12px;
  font-weight: 400;
  color: #5f6368;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.main__nav__item h1 {
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  color: #737373;
}
.main__nav__icon {
  font-size: 25px;
  color: #737373;
  margin-right: 20px;
}
.main__nav__item:hover {
  background-color: #f2f2f2;
}
.main__nav__item:first-of-type {
  border-bottom: 3px solid #d93025;
}
.main__nav__item:first-of-type h1,
.main__nav__item:first-of-type .main__nav__icon {
  color: #d93025 !important;
}
