.index {
}
.index__header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid lightgray;
  padding: 10px 30px;
  background: white;
  z-index: 10;
  position: sticky;
  top: 0;
}
.index__header img {
  width: 150px;
  cursor: pointer;
}
.index__header button {
  background: white;
  cursor: pointer;
  color: #333333;
  outline: none;
  font-size: 19px;
  line-height: 90px;
  border: none;
  font-size: 19px;
  font-weight: 700;
}
.index__header button:hover {
  text-decoration: underline #333333;
}
.index__main {
  width: 100%;
  display: flex;
  flex-direction: column;
}
