.results__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  height: fit-content !important;
  max-width: 800px;
  padding-left: 10%;
  width: 100%;
}
.results__nav__right {
  display: flex;
}
.results__nav__left {
  display: flex;
}

@media only screen and (max-width: 600px) {
  .results__nav {
    padding-left: 10px;
  }
}
