.login {
  background: rgba(0, 0, 0, 0.8);
  padding: 10px;
  border-radius: 5px;
  box-shadow: 2px 2px 2px solid lightseagreen;
  width: 100%;
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin: 50px auto 0px auto;
  justify-content: center;
}
.login > input {
  width: 90%;
  margin: 10px;
  padding: 10px;
  border: none;
  outline: none;
  border: 1px solid lightseagreen;
  border-radius: 5px;
}
.login h1 {
  width: 100%;
  text-align: center;
  user-select: none;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 1px;
}
.login p {
  width: 100%;
  margin: 5px;
  text-align: center;
  font-size: 15px;
  user-select: none;
}
.login p:first-of-type {
  color: red;
  font-style: italic;
}
.login p > span {
  cursor: pointer;
  color: lightseagreen;
}
.login p > span:hover {
  text-decoration: underline;
}

.login button {
  width: 150px;
  margin: 10px auto;
  outline: none;
  border: none;
  cursor: pointer;
  padding: 5px;
  border-radius: 5px;
  font-size: 15px;
}
.login button:active {
  background: lightseagreen;
  color: white;
}
