.sidebar__header {
  overflow-y: hidden;
  height: 50px !important;
  padding: 5px;
  position: relative;
  display: flex;
  position: sticky;
  background: white;
  top: 0;
  z-index: 10;
}
.sidebar__header img {
  width: 170px !important;
  padding: 10px;
  -webkit-user-drag: none !important;
  cursor: pointer;
  object-fit: contain;
}
.sidebar__menu__button {
  margin-right: 5px;
}
.sidebar__menu__icon {
  color: #4e4e4e !important;
  font-size: 20px !important;
}
@media only screen and (max-width: 1200px) {
  .sidebar__header img {
    display: none;
  }
  .sidebar__header {
    width: fit-content;
  }
}
